<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= message.username %>'s Message Details | <%=title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <nav><%- include('partials/navbar', {links: links}) %></nav>
      <h1><%= message.username %>'s Message Details</h1>
    </header>
    <main>
      <article>
        <p><strong>Name:</strong> <%= message.username %></p>
        <p><strong>Message:</strong> <%= message.message %></p>
        <p><strong>Time sent:</strong> <%= message.date_added %></p>
      </article>
    </main>
    <footer><%- include('partials/footer') %></footer>
  </body>
</html>
